
@{
    ViewData["Title"] = "Quote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html lang="en">
<head>
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Learn to Create Websites</h1>
            <p class="lead">In today's world internet is the most popular way of connecting with the people. At <a href="http://schools.inimisttech.com" target="_blank">schools.inimisttech.com</a> you will learn the essential web development technologies along with real life practice examples, so that you can create your own website to connect with the people around the world.</p>
            <p><a href="http://schools.inimisttech.com" target="_blank" class="btn btn-success btn-lg">Get started today</a></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>HTML</h2>
                <p>HTML is the standard markup language for describing the structure of the web pages. Our HTML tutorials will help you to understand the basics of latest HTML5 language, so that you can create your own web pages or website.</p>
                <p><a href="http://schools.inimisttech.com/tutorial/topic/Html" target="_blank" class="btn btn-success">Learn More »</a></p>
            </div>
            <div class="col-md-4">
                <h2>CSS</h2>
                <p>CSS is used for describing the presentation of web pages. CSS can save a lot of time and effort. Our CSS tutorials will help you to learn the essentials of latest CSS3, so that you can control the style and layout of your website.</p>
                <p><a href="http://schools.inimisttech.com/tutorial/topic/CSS" target="_blank" class="btn btn-success">Learn More »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Bootstrap</h2>
                <p>Bootstrap is a powerful front-end framework for faster and easier web development. Our Bootstrap tutorials will help you to learn all the features of latest Bootstrap 4 framework so that you can easily create responsive websites.</p>
                <p><a href="http://schools.inimisttech.com/tutorial/topic/Bootstrap" target="_blank" class="btn btn-success">Learn More »</a></p>
            </div>
        </div>
        <hr>
        <footer>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6 text-md-right">
                    <a href="#" class="text-dark">Terms of Use</a>
                    <span class="text-muted mx-2">|</span>
                    <a href="#" class="text-dark">Privacy Policy</a>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>
