
<html>
<title>SideBar Menu</title>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='/css/test.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <input type="checkbox" id="menu">
    <nav>
        <label>Logo</label>
        <ul>
            <li><a href="#">Logout</a></li>
        </ul> <label for="menu" class="menu-bar"> <i class="fa fa-bars"></i> </label>
    </nav>
    <div class="side-menu">
        <center>
            <img src=https://drive.google.com/uc?export =view&id =12So_kwX64SfUCdIJYLp3VUlX1hvwK2Zs> <br><br>
            <h2>Anjali Sharma</h2>
        </center> <br> <a href="#"><i class="fa fa-user"></i><span>Customers</span></a> <a href="#"><i class="fa fa-envelope"></i><span>Message</span></a> <a href="#"><i class="fa fa-shopping-basket"></i><span>Products</span></a> <a href="#"><i class="fa fa-sellsy"></i><span>Statistices</span></a> <a href="#"><i class="fa fa-ban"></i><span>Ban Customers</span></a> <a href="#"><i class="fa fa-cog"></i><span>Setting</span></a> <a href="#" class="Logout"><span>Logout</span></a>
    </div>
    <div class="data"> </div>
</body>

</html>